<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>New movie:</h1>
    <form th:action="@{/addmovie}"
          th:object="${movieform}" method="POST">
        <p>Title:
            <input type="text" th:field="*{title}" />
        </p>
        <p> Country:
            <input type="text" th:field="*{country}" />
        </p>
        <input class ="button-main-page" type="submit" value="Add" />
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>