<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movie List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Movie List</h1>
<h2> <a href="addmovie">Add new movie</a> </h2>
<h2><a href="deletemovie">Delete movie</a></h2>
<h2><a href="editmovie">Edit movie</a></h2>
<br/><br/>
<div class="container">
    <table class ="container" border="1">
        <tr>
            <th><h1>Title</h1></th>
            <th><h1>Country</h1></th>
        </tr>
        <tr th:each ="movie : ${movies}">
            <td th:utext="${movie.title}">...</td>
            <td th:utext="${movie.country}">...</td>
        </tr>
    </table>
</div>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>